//-
  pour créer un mixin on commence par ecris le mot clef "mixin" puis on ecris le nom de ce mixin.
  exemple: mixin my-exemple.
  ensuite il faut indenter et ajouter le template.
  exemple:
    mixin my-exemple
      p mon paragraph
  si vous souhaitez envoyer des viaribles à votre mixin vous les ajoutez entre parenthèse.
  exemple:
    mixin my-exemple(text)
      p= text

//- Pour maikel => ajoute a cette list le nom de tout les composants que tu compte créer et leur descriptions.
  List des mixin:
    heading: crée une balise h1-h6. si la priority n'est pas definis alors un paragraph sera créé
    banner: crée une banniere en utilisant le mixin heading.
    navbar: 

mixin heading(text, priority)
  case priority 
      when 1
        h1&attributes(attributes)=text
          block 
      when 2
        h2&attributes(attributes)=text
          block 
      when 3
        h3&attributes(attributes)=text
          block 
      when 4
        h4&attributes(attributes)=text
          block 
      when 5
        h5&attributes(attributes)=text
          block 
      when 6
        h6&attributes(attributes)=text
          block
      default
        p&attributes(attributes)=text
          block

mixin banner(text, priority)
  +heading(undefined, priority)(class="W-banner", value=text)
    div
    div

mixin slidingItem (name, meals)
  div
    h3=name
    .mdj
      each meal in meals
        div
          a(href=meal.url)
            div
              img(src=meal.src, alt=meal.alt)
            h4= meal.name